body {
	margin:0px;
	padding: 0px;
}

.large_container {
	display:block;
	width:100%;
	margin-top:100px;
}

.container {
	display: none;
}

.picture {
	width:100%;
	max-width:1200px;
	margin: 0px auto;
}

.groupPicture {
	width:100%;
}

.title_bar {
	text-align: left;
	width:100%;
	font-size:70pt;
	padding:10px;
	color:#e3127c;
	margin-bottom:20px;
}

.copy {
	font-family: Myriad Pro;
}

@media only screen and (max-width: 768px){

	.title_bar {
		font-size:40pt;
		margin:0px;
	}

	.container {
		width:100%;
		display:block;
	}

	.large_container {
		display:none;
	}

	.team_member {
		position: relative;
	}

	img {
		display: block;
	}

	.team_picture {
		width:100%;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.copy {
		position: absolute;
		text-align: center;
		width:50%;
		right: 0px;
		top:50px;
		background: rgba(0, 0, 0, 0.5);
		color: white;
		padding:5px 5px 0px 5px;
	}

	.name {
		font-size: 8pt;
		text-transform: uppercase;
		margin:0px;
	}

	.copy p {
		margin-top:-10px;
		font-size: 15pt;
		text-align: left;
	}

	.bold {
		font-weight: bold;
		text-transform: uppercase;
		color: #BABABA;
	}
}

@media only screen and (max-width: 480px){

	.name {
		font-size: 8pt;
		text-transform: uppercase;
		margin:0px;
	}

	.copy p {
		margin-top:-10px;
		font-size: 9pt;
		text-align: left;
	}

	.bold {
		font-weight: bold;
		text-transform: uppercase;
		color: #BABABA;
	}

	.mobile {
		display:none;
	}

}



/******************* NAV BAR *********************/

*, *:before, *:after {
    box-sizing: inherit;
}

body {
width: 100%;
font-family: 'Montserrat', sans-serif;
}

.container {
	margin-top: 80px;
	width: 100%;
	height: 100vh;
}

.header {
    height: 80px;
    width: 100%;
    background-color: rgba(83,196,199,1);
    font-family: 'Oswald', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 32px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 0 0 10px;
    z-index: 100;
    position: absolute;
    top: 0;
    left:0;
    border-bottom: 2px solid rgba(63,176,179,1);
}

.btn {
	outline: none;
	border: none;
}

.menuButton {
	width: 40px;
	height: 40px;
	margin-top: 3px;
	-ms-flex-preferred-size: 40px;
	    flex-basis: 40px;
	background-color: rgba(83,196,199,1);
	border-radius: 2px;
	background-image: url('../images/menu_white.png');
	background-position: center center;
	background-size: 30px 40px;
	background-repeat: no-repeat;
}

.menuButton:hover, .menuButton.open {
	background-color: rgba(103,206,209,1);
}

.title {
    -ms-flex-preferred-size: calc(100% - 60px);
    flex-basis: calc(100% - 60px);
    width: calc(100% - 60px);
    text-align: left;
    padding: 0 0 0 5px;
    margin-right: 70px;
    font-weight: 300;
    font-family: 'Oswald', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.menu {
	height: 300px;
	width: 200px;
	position: absolute;
	top: -315px;
	background-color: rgba(83,196,199,1);
	border-radius: 0 0 5px 0;
	opacity: 0.5;
	display: none;
	font-family: 'Montserrat Alternates', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.menu.open {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-animation: menu 0.3s;
	        animation: menu 0.3s;
	-webkit-animation-timing-function: ease-in;
			animation-timing-function: ease-in;
	opacity: 1;
	top: 80px;
	left:0px;
	z-index: 10;
}

.menuLink {
	height: calc(100% / 6);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	text-decoration: none;
	color: white;
	cursor: pointer;
}

.menuLink:hover {
	color: rgba(200,237,238,1);
}

.icons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.icon {
	display: block;
	height: 40px;
	width: 40px;
	background-size: 30px 30px;
	background-position: center center;
	background-repeat: no-repeat;
	margin: 0 10px;
	opacity: 0.7;
}

.icon.fb {
	background-image: url('../images/fb_logo_white.png');
}

.icon.twitter {
	background-image: url('../images/twitter_logo_white.png');
}

.icon.insta {
	background-image: url('../images/instagram_logo.png');
}

/*=======================================
									FAQ
=======================================								*/
.content {
	width: 80%;
	margin: 0 auto;
	margin-bottom: 150px;
}

.faq {
	position: relative;
	text-align: left;
	width: 90%;
	margin: 45px auto;
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
}

.answer {
	display: none;
	font-family: 'Open Sans', sans-serif;
}

.show {
	display: block;
}

.rotate {
	-webkit-transform: rotate(-90deg);
	        transform: rotate(-90deg);
}

.arrow {
	width: 15px;
	position: absolute;
	right: -30px;
	top: 10px;
}



@-webkit-keyframes menu {
	0%
	{ opacity: 0; top: -315px; }
	80%
	{ opacity: 0.3; top: 0px; }
	100%
	{ opacity: 1; top: 80px; }
}

@keyframes menu {
	0%
	{ opacity: 0; top: -315px; }
	80%
	{ opacity: 0.3; top: 0px; }
	100%
	{ opacity: 1; top: 80px; }
}


@media (min-width:760px) {
	.container {
		font-size: 1.15em;
	}
	.faq {
		width: 80%;
	}
}

@media (min-width: 980px) {
	.faq {
		width: 70%;
	}
}