body {
    width: 100%;
    font-family: 'Montserrat', sans-serif
}

.container {
    margin-top: 80px;
    margin-bottom: 50px;
    padding-top: 40px;
    width: 100%
}

.header {
    height: 80px;
    width: 100%;
    background-color: rgba(83, 196, 199, 1);
    font-family: 'Oswald', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 32px;
    color: white;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 0 0 10px;
    z-index: 100;
    position: absolute;
    top: 0;
    border-bottom: 2px solid rgba(63, 176, 179, 1)
}

.btn {
    outline: none;
    border: none
}

.menuButton {
    width: 40px;
    height: 40px;
    margin-top: 3px;
    -webkit-flex-basis: 40px;
    -ms-flex-preferred-size: 40px;
    flex-basis: 40px;
    background-color: rgba(83, 196, 199, 1);
    border-radius: 2px;
    background-image: url('../images/menu_white.png');
    background-position: center center;
    background-size: 30px 40px;
    background-repeat: no-repeat
}

.menuButton:hover,
.menuButton.open {
    background-color: rgba(103, 206, 209, 1)
}

.title {
    -webkit-flex-basis: calc(100% - 60px);
    -ms-flex-preferred-size: calc(100% - 60px);
    flex-basis: calc(100% - 60px);
    width: calc(100% - 60px);
    text-align: left;
    padding: 0 0 0 5px;
    margin-right: 70px;
    font-weight: 300;
}

.menu {
    height: 300px;
    width: 200px;
    position: absolute;
    top: -315px;
    background-color: rgba(83, 196, 199, 1);
    border-radius: 0 0 5px 0;
    opacity: 0.5;
    display: none;
    font-family: 'Montserrat Alternates', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

.menu.open {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-animation: menu 0.3s;
    animation: menu 0.3s;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
    top: 80px;
    z-index: 10
}

.menuLink {
    height: calc(100% / 6);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    color: white;
    cursor: pointer
}

.menuLink:hover {
    color: rgba(200, 237, 238, 1)
}

.icons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.icon {
    display: block;
    height: 40px;
    width: 40px;
    background-size: 30px 30px;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 10px;
    opacity: 0.7
}

.icon.fb {
    background-image: url('../images/fb_logo_white.png')
}

.icon.twitter {
    background-image: url('../images/twitter_logo_white.png')
}

.icon.insta {
    background-image: url('../images/instagram_logo.png')
}

.content {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 100px
}

.faq {
    position: relative;
    text-align: left;
    width: 90%;
    margin: 45px auto;
    padding-right: 7.5px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif
}

.answer {
    display: none;
    font-family: 'Open Sans', sans-serif
}

.show {
    display: block
}

.rotate {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg)
}

.arrow {
    width: 15px;
    position: absolute;
    right: -15px;
    top: 10px
}

@-webkit-keyframes "menu" {
    0% {
        opacity: 0;
        top: -315px;
    }
    80% {
        opacity: 0.3;
        top: 0px;
    }
    100% {
        opacity: 1;
        top: 80px;
    }
}

@keyframes "menu" {
    0% {
        opacity: 0;
        top: -315px;
    }
    80% {
        opacity: 0.3;
        top: 0px;
    }
    100% {
        opacity: 1;
        top: 80px;
    }
}

@media (min-width:760px) {
    .container {
        font-size: 1.15em
    }
    .faq {
        width: 80%
    }
}

@media (min-width: 980px) {
    .faq {
        width: 70%
    }
}